* {
    max-width: 1024px;
    margin: 0 auto;
    }
  h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 30px;
  }
  figure {
      position: relative;
      float: right;
    } 
    p {
        font-size: 18px;
    }